<!DOCTYPE html>
<html>
  <head>
    <title>Конвертировать метры в футы</title>
    <script src="https://unpkg.com/vue@2"></script>
    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <head/>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <div id="converterMetersFeet">
          Метры-футы<br/><br/>
          <input v-model="value"> 
          <input type="checkbox" id="checkbox" v-model="isInitialValue">
          <label for="checkbox"> Начальное значение в метрах? </label>
          <div v-if="typeOfConverter">
            <br/><br/><label>Перевод из метров в футы: </label>{{ answer }}
          </div>
          <div v-else>
            <br/><br/><label>Перевод из футов в метры: </label>{{ reverseAnswer }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div id="converterMilesKm">
          Мили-километры<br/><br/>
          <input v-model="value"> 
          <input type="checkbox" id="checkbox" v-model="isInitialValue">
          <label for="checkbox"> Начальное значение в милях? </label>
          <div v-if="typeOfConverter">
            <br/><br/><label>Перевод из милей в км: </label> {{ answer }}
          </div>
          <div v-else>
            <br/><br/><label>Перевод из км в мили: </label> {{ reverseAnswer }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div id="converter1">
        </div>
      </li>
      <li class="list-group-item">
        <div id="converterRadToDegrees">
          Радианы-градусы<br/><br/>
          <input v-model="value"> 
          <input type="checkbox" id="checkbox" v-model="isInitialValue">
          <label for="checkbox"> Начальное значение в радианах? </label>
          <div v-if="typeOfConverter">
            <br/><br/><label>Перевод из радиан в градусы: </label> {{ answer }}
          </div>
          <div v-else>
            <br/><br/><label>Перевод из градусов в радианы: </label>{{ reverseAnswer }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div id="converter1">
        </div>
      </li>
      <li class="list-group-item">
        <div id="converterKelvToCels">
          Градусы Кельвина-Градусы Цельсия<br/><br/>
          <input v-model="value"> 
          <input type="checkbox" id="checkbox" v-model="isInitialValue">
          <label for="checkbox"> Начальное значение в Кельвинах? </label>
          <div v-if="typeOfConverter">
            <br/><br/><label>Перевод из градусов Кельвина: </label> {{ answer }}
          </div>
          <div v-else>
            <br/><br/><label>Перевод в градусы Кельвина: </label> {{ reverseAnswer }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div id="converter1">
        </div>
      </li>

    </ul>
  <div>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="metersToFeet.js"></script>
  <script src="milesToKm.js"></script>
  <script src="radiansToDegrees.js"></script>
  <script src="KelvinToCels.js"></script>
</body>
</html>